* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}
body{
    background-color: #fff;
}
/*common class*/

.btn{
    background-color: #872BFF;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    padding: 14px 30px ;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 11px 31px #8C8C8C;
    cursor: pointer;
    margin-right: 10px;
}

.btn-white{
    background-color: #fff;
    font-size: 14px;
    border: 2px solid;
    border-color: #872BFF;
    border-radius: 30px;
    padding: 14px 30px ;
    font-weight: bold;
    color: black;
    box-shadow: 0 11px 31px #8C8C8C;
    cursor: pointer;
}

.hero{
    background-image: url(assets/Hero-bg.png);
    padding-top: 70px;
    background-size: 500px;
    margin-bottom: 150px;
}
.hero-conteiner{
    display: flex;
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.hero-content{
    padding-bottom: 100px;
}
.hero-h1{
    font-size: 48px;
    margin-bottom: 30px;
}
.Crafting{
    color: #872BFF;
}
.Hero-p{
    font-size: 16px;
    color: #8A8A8A;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;

}
.hero-img{
    width: 500px;
    vertical-align: middle;
}
.Skills{
    width: 87.5%;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}


.title{
    text-align: center;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

}
.title-h4{
    color: #6A14DA;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
}
.title-h2{
    color: black;
    font-size: 40px;
    font-weight: bold;
}
.cart-element{
    display: flex;
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.cart-box{
    border: none;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    gap: 60px;
    box-shadow: 0px 4px 4px #bcbaba;
    margin-bottom: 30px;

}
.Cart-H4{
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #0D1321;
}
.Cart-p{
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
    color: #5c5c5c;

}
.Cart-a{
    font-size: 16px;
    color: #000;
    font-weight: 700;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.gap{
    margin-bottom: 20px;
}

/* project */
.projects{
    border: solid;
    border-color: #872BFF;
    border-width: 2px;
    border-radius: 20px;
    display: flex;
    padding: 60px;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}
.project-content{
    gap: 20px;
}
.all-box{
    gap: 20px;
}
.image-box{
    display: flex;

}
.project-image{
    border-radius: 20px;
    width: 400px;
    height: 300px;
}
.project-discription{
    margin: auto;
    padding: auto;
    gap: 50%;
}
.project-title{
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
}
.project-title-box{
    padding-bottom: 10px;
}
/* project date */
.date-p-box{
    padding-bottom: 10px;
}
.date{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: normal;
    color: #0E0E0E;
}
.project-dis{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: normal;
    color: #0E0E0E;
    text-align: left;
}
.btn-box{
    padding-top: 30px;
    padding-left: 5px;
}
.coulum{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: auto;
    margin-bottom: 30px;
}
.img-box{
    border: solid;
    border-radius: 20px;
    border-color: #e3e2e2;
    border-width: 2px;
    padding: 40px;
    
}
